{
	"root-data": ".classic/.db",
    "db-relative": ".cdb/Classic/",
    "DataPhase": "CLASSIC",
    "PreProcessorTags": [
        "ANYCLASSIC",
		"CLASSIC",
		"CRIEVE",
		"IGNORE_ERRORS",
    ],
    "AutoLocalizeTypes": [
    ],
    "ObjectTypes": [
        {
            "function": "CreateToy",
            "objectType": "toyID",
            "shortcut": "toy",
            "convertedKey": "itemID",
            "ignoredFields": [
                "f",
                "spellID",
                "modID"
            ]
        }
    ]
}